ASPNETCoreMasterProj/.vs/ASPNETCoreMasterProj/FileContentIndex/12751b19-ba64-4b32-a7ea-b370c750ce73.vsidx
ASPNETCoreMasterProj/.vs/ASPNETCoreMasterProj/FileContentIndex/2684f59e-7d94-4769-b298-aea3b62b002f.vsidx
ASPNETCoreMasterProj/.vs/ASPNETCoreMasterProj/FileContentIndex/d997edbb-abbb-4637-a032-fce07f8c238a.vsidx
ASPNETCoreMasterProj/.vs/ASPNETCoreMasterProj/FileContentIndex/e447b571-07c4-43de-bed4-45c90306683f.vsidx
